doctype html
html
  head
    title= 'Chain Vote'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/fontstack.css')
    script(src="https://code.jquery.com/jquery-3.0.0.min.js")
  body
    block content
      

