extends layout

block content

  link(rel='stylesheet', href='/stylesheets/login.css')

  h1= title
  #header

  #content-block
    #login-header
      h2( id='login') Login:

    #login-forms
      form#content-block(action='submit-username' method='post')
        input(type='text' name='username' value='Username...' id='username')
        p
        input(type='submit' class='button' id='submit')
    