extend layout

block content
  script(src='/javascripts/manager.js')
  link(rel='stylesheet', href='/stylesheets/manager.css')

  #header
    h1(id='title')= title

  #table
    table(id='request-table')
      tr(id='request-header')
        th Name
        th Email address
        th Organization
        th Date issued
        th Votes
        th Approval
    
    