extends layout

block content

  script(src='/javascripts/topic-select-page.js')
  link(rel='stylesheet', href='/stylesheets/topic-select.css')

  #header
    h1(id='title')= title
    h1(class='welcome') Welc
    h1(class='welcome-o' class='welcome') o
    h1(class='welcome' id='welcome-end') me
    i(class="material-icons md-48" id='user-button') account_circle

  #content-header
    h1 Current Voting Topics

  #topic-creation(class='info-box' class='hidden')
    h1(id='create-header') Create A Topic
    form(action='create-topic' method='get')
      p(class='form-label') Vote Description:
      input(type='text' class='new-topic-input' id='topic-name' placeholder='Topic Description')
      p(class='form-label') First Candidate:
      input(type='text' class='new-topic-input' id='topic-cand1' placeholder='Candidate')
      p(class='form-label') Second Candidate:
      input(type='text' class='new-topic-input' id='topic-cand2' placeholder='Candidate')
      p(class='form-label') Third Candidate:
      input(type='text' class='new-topic-input' id='topic-cand3' placeholder='Candidate')
      input(type='submit' class='button' id='topic-submit' value='Submit' )

  #user-info(class='info-box' class='hidden')
    p(class='info-header') You are logged in as:
    p(class='user-info' id='username') Ethan!
    p
    p(class='info-header') Available votes per topic: 
    p(class='user-info' id='user-votes') 5
    p
    form(action='/logout' method='get')
      input(type='submit' class='button' id='logout' value='Logout')
      
  #content-block 
    #topics
      p(id='loading-msg') Loading topics...
    #add
      i(class="material-icons md-48" id='new-topic') playlist_add


