extends layout

block content

  script(src="/javascripts/voting.js")
  link(rel='stylesheet', href='/stylesheets/topic.css')
 
  #header
    h1(id="title")= title   
    h1(class='vote-header' id='remaining-votes') 5
    h1(class='vote-header') Remaining Votes:

  #content-header
    h1(id="topic-description")=topicID
   
  #content-block
    #candidates
    button(class='button' id='submit') Submit

    