/* Login header */

#content-header {
  width: 25%;
  height: auto;

  padding-bottom: 5px;

  text-align: left; 
}

/* Sizing for content block */

#content-block {
  width: 21%;
  height: auto;

  margin-top: 15px;
  padding: 25px;
}

.info-box {
  height: 350px;
}

.info-box p {
  text-align: left;
  margin: 10px 0px 5px 15px;
}

#open-register {
  cursor: pointer;
  float: right;
  font-size: 32px;
  margin-right: 89px;
}

#open-register:hover {
  color: #F7F7F7;
}

/* Submit button sizing */

#submit {
  display: block;

  font-size: 26px;
  height: 50px;
}

#error-msg {
  color: #FF0000;
}

#register-user {
  margin-top: 25px;
  width: 150px;
}

#manage {
  width: 100px;
}

/* Styling for the loading splash screen which is displayed at the launch of the app */
#loading-screen {
  width: 450px;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid #00C26A;
  border-radius: 10px;
  margin: 100px auto 0px auto;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loading-msg{
  color: #313131;
  font-size: 36px;
  line-height: 36px;
  margin: 30px 0px 10px 0px;
}

#priv-type{
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  font-size: 26px;
  height: 40px;
  width: 88%;
  margin: 3px auto 3px auto; 
  padding-left: 10px; 
  color: #313131;
  background-color: #F7F7F7;
  border: none;
  border-radius: 40px;

  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}

#prive-type:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}





