#content-header {
  width: 25%;
  height: auto;

  padding-bottom: 5px;

  text-align: left; 
}

#content-block {
  width: 21%;
  height: auto;

  margin-top: 15px;
  padding: 25px;
}

#submit {
  display: block;

  height: 50px;

  margin-bottom: 10px;
}




