/* Login header */

#content-header {
  width: 25%;
  height: auto;

  padding-bottom: 5px;

  text-align: left; 
}

/* Sizing for content block */

#content-block {
  width: 21%;
  height: auto;

  margin-top: 15px;
  padding: 25px;
}

.info-box {
  height: 300px;
}

.info-box p {
  text-align: left;
  margin: 10px 0px 5px 15px;
}

#open-register {
  cursor: pointer;
  float: right;
  font-size: 32px;
  margin-right: 89px;
}

#open-register:hover {
  color: #F7F7F7;
}

/* Submit button sizing */

#submit {
  display: block;

  height: 50px;

  margin-bottom: 10px;
}

#error-msg {
  color: #FF0000;
}

#register-user {
  margin-top: 50px;
  width: 150px;
}

#manage {
  width: 100px;
}



