
body {
  background-image: url('/images/background.png');

  text-align: center;

  margin: 0px;

  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}


h1 {
  font-size: 26px;
}

#header {
  width: 100%;
  height: 75px;

  margin: 0px;

  background-color: #00C26A;
  color: #005C34;

  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#title {
  float: left;

  margin-left: 50px;

  font-size: 32px;
}

#content-header {
  width: 30%;
  height: auto;

  margin: 5% auto 0px auto;
  padding-bottom: 5px;

  border-bottom: 1px solid #313131;
  color: #313131;
}

#content-header > h1 {
  margin: auto; 
  font-size: 30px;
  padding-top: 35px;
}

#content-block {
  width: 40%;
  height: 400px;

  margin: 10px auto 0px auto;
  padding-top: 10px;

  border-radius: 10px;
}


input[type='text'] {
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;

  width: 85%;
  height: 50px;

  padding-left: 5%;

  color: #313131;
  background-color: #F7F7F7;

  font-size: 20px;

  border: none;
  border-radius: 5px;
  border-top: 1px solid rgba(247, 247, 247, 0.5);
  border-right: 1px solid rgba(247, 247, 247, 0.5);

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 4px 6px 10px 0 rgba(0, 0, 0, 0.19);

  margin: 3px auto 3px auto;  
}

.welcome {
  display: inline-block;
  margin-top: 22px;
  margin-right: 150px;
}


textarea:focus, input:focus{
    outline: none;
}

.material-icons.md-48 {
  float: right;

  margin: 12px 15px 0px 15px;

  font-size: 48px;

  cursor: pointer;
}


