
body {
  padding: 50px;
  text-align: center;
  background-image: url('/images/background.png');
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

h1{
  font-size:26px;
}

#title {
  float: left;
  color: #252526;
  font-size: 32px;
}

#header {
  width: 95%;
  height: 50px;
  border-bottom: 4px solid #252526;
  padding-bottom:5px; 
}

#content-header {
  width: 70%;
  height: auto;
  border-bottom: 2px solid #252526;
  margin: 0px auto 0px auto;
  padding-bottom: 5px;
}

#content-header > h1 {
   margin: auto;
   float: none;
   padding-top: 35px;
}


#content-block {
  width: 40%;
  height: 400px;
  margin: 50px auto 0px auto;
}

#content-block .button {
  height: 50px;
}


.button {
  width: 90%;
  height: auto;

  color: #252526;
  background-color: #F4F5F6;
  border: 1px solid #252526;

  font-size: 20px;

  padding: 5px;
  margin: 3px auto 3px auto;  
}

.button:hover {
  background-color: #252526;
  color: #F4F5F6;
}




