#new-topic-forms {
  width: 400px;
  height: 400px;    
  background-color: #F4F5F6;
  border: solid 1px #252526;
  top:100px;
  margin: 50px auto 0px auto;
  position: absolute;
}

.new-form-input {
  height: 45px;

  font-size: 20px;

  background-color: #F4F5F6;
  border: 1px solid #252526;

  margin: 3px auto 3px auto;
  padding-left: 2%;
}

#topic-submit {
    height: 30px;
    width: 200px;
    height: 40px;
    margin: 75px auto 0px auto;
}

#new-topic {
  width: 15%;
  height: 40px;
}

