/* Special button size for topics */

#content-block .button {
  height: 100px;
  word-wrap: normal;
}

/* New topic info-box content styling */

#topic-input {
  height: 75%;
  overflow-y: auto;
}

#create-header {
  margin: 0px 0px 30px 0px;
  font-size: 28px;
  line-height: 30px;
  text-decoration: underline;
}

.form-label {
  margin: 5px 5px 5px 15px;
  text-align: left;
}

#topic-submit {
  margin-top: 25px;
}

.user-info-header {
  text-decoration: underline;
}

/* User welcome message */

.welcome {
  display: inline-block;
  margin: 22px 0px 0px 2%;
}

/* Header-icons */

.header-icons {
  float: right;
  font-size: 48px;
  margin: 12px 15px 0px 15px;
  cursor: pointer;
}

.header-icons:hover{
  color: #F7F7F7;
}

.header-icons:active{
  color: #313131;
}

/* Add candidate button */

#add-cand {
  font-size: 30px;
  color: #313131;
}

#add-cand:hover{
  cursor: pointer;
  border-bottom: 1px solid #313131;
}

#add-cand:active{
  cursor: pointer;
  background-color: #313131;
  color: #F7F7F7;
  border: none;
}

#logout {
  margin-top: 15px;
}

#loading-msg {
  margin: 0px;
}

#content-header {
  display: inline-block;
}

.inactive {
  font-size: 15px; 
  cursor: pointer; 
}

.active {
  font-size: 30px;
}

.voted {
  background-color: #64D4E5;
}

.voted:hover {
  color: #313131;
}

.delete-candidate {
  margin-left: -25px;
  font-size: 24px;
  color: #313131;
}

.delete-candidate:hover{
  color: #C20900;
  cursor: pointer;
}