extends layout

block content
  h1= 'Chain Vote'
  #header
  #votetopics
    a(class='button' href='topic1')
      p Vote Topic: Who will be elected as the next CEO?
    a(class='button' href='topic2')
      p Vote Topic: The Cafeteria needs to bee repained.
    a(class='button' href='topic3')
      p Vote Topic: Who thinks that Robert needs to be fired for the fire hydrant incident?
