extends layout

block content
  h1= 'Chain Vote'
  #votetopics
    button#topic1(type='button' onclick='topic1.pug') Vote Topic 1
    button#topic2(type='button' onclick='topic2.pug') Vote Topic 2
    button#topic3(type='button' onclick='topic3.pug') Vote Topic 3
