extends layout

block content
  h1= title
  h2= votes
  h1(class='vote-count') Remaining Votes: 
  #header
  form#content-block(action='num-votes' method='post' )
    p Green: 
    input(type='number' name='votes1' value='0'  class='votes')
    p Albatross: 
    input(type='number' name='votes2' value='0'  class='votes')
    p I liked it the way it was: 
    input(type='number' name='votes3' value='0' class='votes')
    p
    input(type='submit' class='button' id='submit')
    