extends layout

block content
  h1= title
  h2= votes
  h1(class='vote-count') Remaining Votes: 
  #header
  form#content-block(action='num-votes' method='post' )
    p Gennaro Cuomo: 
    input(type='number' name='votes1' value='0' class='votes' min='0' max= votes)
    p Ethan Coeytaux: 
    input(type='number' name='votes2' value='0' class='votes' min='0' max= votes)
    p
    input(type='submit' class='button' id='submit')
    